{% extends "base.html" %}

{% block content %}
    <h1>Billing</h1>
        
        <div>
            <p><b> User IP </b> <b> Number of Requests Per Type </b> </p>
            <p style="margin-left: 60px">Temperature Weight Currency Total Cost</p>
            <p> 
                {{ip_address}}
                <b style="margin-left: 60px"> {{temp_records}} </b>
                <b style="margin-left: 30px"> {{weight_records}} </b>
                <b style="margin-left: 60px"> {{currency_records}} </b>
                <b style="margin-left: 50px"> {{total_records}} </b>
            </p>
        </div>
{% endblock %}